<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jetec.wicloud">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_wicloud"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_wicloud"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity
            android:name="com.jetec.wicloud.Activity.StartActivity"
            android:screenOrientation="user"
            tools:ignore="InnerclassSeparator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.jetec.wicloud.Activity.FirstActivity"
            android:screenOrientation="user"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name="com.jetec.wicloud.Activity.LoginActivity"
            android:screenOrientation="user"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="stateUnchanged|adjustPan"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name="com.jetec.wicloud.Activity.ViewActivity"
            android:screenOrientation="user"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="stateUnchanged|adjustPan"
            android:largeHeap="true"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name="com.jetec.wicloud.Activity.ChartActivity"
            android:screenOrientation="user"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="stateUnchanged|adjustPan"
            android:largeHeap="true"
            tools:ignore="InnerclassSeparator" />

        <activity
            android:name="com.jetec.wicloud.Activity.AddDeviceActivity"
            android:screenOrientation="user"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="stateUnchanged|adjustPan"
            android:largeHeap="true"
            tools:ignore="InnerclassSeparator" />

        <activity
            android:name="com.jetec.wicloud.Activity.NewValueActivity"
            android:screenOrientation="user"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="stateUnchanged|adjustPan"
            android:largeHeap="true"
            tools:ignore="InnerclassSeparator" />

        <activity
            android:name="com.jetec.wicloud.Activity.NewImageAvtivity"
            android:screenOrientation="user"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="stateUnchanged|adjustPan"
            android:largeHeap="true"
            tools:ignore="InnerclassSeparator" />
    </application>

</manifest>